.App {
    text-align: center;
}

.App-main {
    background-image: url("../img/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-title {
    font-size: calc(40px + 2vmin);
    color: white;
}
